{% extends "base.html" %}

{% block content_title %}<font size="9">About Me</font>{% endblock %}

{% block content_second_title %}This is what I do.{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p  align="middle" ><img src="https://pp.vk.me/c630931/v630931273/2b7d8/obZGOYGBPAI.jpg" class="img-circle" style="width: 25%; height: 25%"></p>
                <p>Hi, My name is Volodymyr, I work as a Python Software Engineer at Quintagroup.</p>
                <p>In the process of work investigated and analyzed exiting public <a href="http://openprocurement.org/en/">OpenProcurement API</a> and as a result found a number of security and data flow issues. OpenProcurement’s initial application was with <a href="https://prozorro.gov.ua/">ProZorro</a> , a procurement system implemented to support multiple national government agencies in Ukraine. </p>
                <p>Took a part in support of legacy project on CMS Plone.</p>
            </div>

        </div>
    </div>

    <hr>

{% endblock %}
