{% extends "base.html" %}

{% block content_title %}About Me{% endblock %}

{% block content_second_title %}This is what I do.{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Hi, My name is Volodymyr, i work as a Python Software Engineer at Quintagroup.</p>
                <p>In the process of work investigated and analyzed exiting public OpenProcurement API and as a result found a number of security and data flow issues. Took a part in support of legacy project on CMS Plone.</p>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}
