{% extends "base.html" %}

{% block content_title %}<font size="9">{{ entry.title }}</font>{% endblock %}

{% block content_second_title %}

{% endblock %}

{% block extra_header %}
    {% if session.logged_in %}
        <li><a href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>{{ entry.html_content }}</p>
                <h4>
                {% for tag in entry.tags %}
                  <a href="{{ url_for('sort_by', tag=tag.name) }}">{{ tag.name }}</a>
                {% endfor %}
                </h4>
                <p class="post-meta">Created on {{ entry.timestamp.strftime('%m/%d/%Y') }}</p>
            </div>
        </div>
    </div>
{% endblock %}
