{% extends "base.html" %}

{% block content_title %}<font size="9">404 Not Found</font>{% endblock %}

{% block content_second_title %}Sorry, I can't find page that you want. But! Do you know this amazing song?{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"></iframe>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}
