{% extends "base.html" %}

{% block content_title %}<font size="9">500 Internal server error</font>{% endblock %}

{% block content_second_title %}Ohh, sorry for this mistake, maybe you like "Lord of the Rings"?{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Sagg08DrO5U?autoplay=1"></iframe>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}
